@CHARSET "UTF-8";

/* WELCOME ----------------------------------------- */
#ocDashboard .welcome {
	border: 0px rgb(230,230,230) solid;
	position: absolute;
	width: 500px;
	height: 300px;
	background-color: rgb(250,250,250);
	padding: 10px;
	margin-left: -250px;
	left: 50%;
	margin-top: 30px;
	
	-webkit-box-shadow: 0px 5px 15px -7px black;
   	-moz-box-shadow: 0px 5px 15px -7px black;
    box-shadow: 0px 5px 15px -7px black;
}

#ocDashboard .welcome h1 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#ocDashboard .welcome p {
	padding-top: 10px;
}

#ocDashboard .welcome ul {
	list-style-type:square;
	padding-left: 20px;
}

#ocDashboard .welcome ul li {
	text-align: left;
	cursor: default;
}

#ocDashboard .welcome ul li a {
	cursor: pointer;
}
